@model DatabaseLayer.EmployeeModel

@{
    ViewData["Title"] = "AddEmployee";
}

<head>
    <link rel="stylesheet" href="~/css/AddEmployee.css">
</head>

<div class="heading">
    <img src="~/Assets/bridgelabz.png" style="width:100px;height:100px" />
</div>
<hr />
<div><h3 class="text-center" style="color:blue;font-style:bold">Add-Employee</h3></div>
<div class="row">
    <div class="col-md-6 offset-3">
        <form asp-action="AddEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="EmpId" class="control-label"></label>
                <input asp-for="EmpId" class="form-control" />
                <span asp-validation-for="EmpId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="EmpName" class="control-label"></label>
                <input asp-for="EmpName" placeholder="Enter Name" class="form-control" required />
                <span asp-validation-for="EmpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PImage" class="control-label"></label>
                 <div class="profile-radio-content profile-control">
                    @Html.RadioButtonFor(model => model.PImage, "~/Assets/profile-images/male.png")
                    <img class="Profile-image-1 " src="~/Assets/profile-images/male.png" checked/>
                    @Html.RadioButtonFor(model => model.PImage, "~/Assets/profile-images/male(1).png")
                    <img class="Profile-image-2 " src="~/Assets/profile-images/male(1).png" />
                    @Html.RadioButtonFor(model => model.PImage, "~/Assets/profile-images/female.png")
                    <img class="Profile-image-3 " src="~/Assets/profile-images/female.png" />
                    @Html.RadioButtonFor(model => model.PImage, "~/Assets/profile-images/female(1).png")
                    <img class="Profile-image-4 " src="~/Assets/profile-images/female(1).png" />
                </div>
                <span asp-validation-for="PImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <div class="genderSection">
                    <input asp-for="Gender" type="radio" id="male" name="gender" value="male">
                    <label asp-for="Gender" class="text" for="male">Male</label>
                    <input asp-for="Gender" type="radio" id="female" name="gender" value="female">
                    <label asp-for="Gender" class="text" for="female">Female</label>
                </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
                    <div class="form-group">
                <label asp-for="Dept" class="control-label"></label><br />
                <select asp-for="Dept" class="form-control" id="Dep">
                    <option value="">Choose Department</option>
                    <option value="HR">HR</option>
                    <option value="IT Services">IT Services</option>
                    <option value="Account & Finance">Account & Finance</option>
                    <option value="Sales & Marketing">Sales & Marketing</option>
                    <option value="Human Resources">Human Resources</option>
                    <option value="Product Resources">Product Resources</option>
                </select>
                <span asp-validation-for="Dept" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" placeholder="Enter Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" placeholder= "Enter Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-info btn-block" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}